body{
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color:#ffff
}

form {
    padding: 50px 50px;
    background-color: #858585;
    box-shadow: 0 0 30px #ffffff;
    border-radius: 30px;
    text-align: center;
    width: 440px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color:rgb(255, 255, 255);
    font-size: 35px;
}

label{
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border:2px solid #ffff;
    color: #000000;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #4b4747;
}

.form-text{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-text a{
    padding-top: 20px;
    color: rgb(73, 73, 73);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #000000;
    border: 0;
    border-radius: 25px;
    background-color: #9b9797;;
    box-shadow: 0 0 20px rgb(49, 49, 49);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(58, 58, 58);
    color: #ffffff;
}