*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    transition: all 0.5s linear;
}

section{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #000000;
}

.business-card{
    width: 400px;
    height: 500px;
    position: relative;
}
.business-card .front,
.business-card .back{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border: 5px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 0 10px #fff,0 0 30px #fff;
    overflow: hidden;
}

.business-card .front{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.business-card:hover .front{
    transform: perspective(700px) rotateY(-180deg);
}

.business-card .front img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.business-card .front .empresa{
    font-size: 25px;
    font-weight: 600;
    margin-top: 60px;
    color: #000000;
    letter-spacing: 5px;
    text-align: center;
}

.business-card .front::before{
    content: "";
    border-radius: 0%;
    border: 8px solid #24242420;
    position: absolute;
    top: -25%;
    height: 150%;
    width: 320px;
    transform: rotateZ(35deg);
}

.business-card .front::after {
    content: "";
    border-radius: 0%;
    border: 8px solid #24242420;
    position: absolute;
    top: -25%;
    height: 150%;
    width: 320px;
    transform: rotateZ(-60deg);
}

.business-card .back{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: perspective(700px) rotateY(180deg);
}

.business-card:hover .back{
    transform: perspective(700px) rotateY(0deg);
}

.business-card .back .image {
    position: absolute;
    padding-top: 20px;
    border-radius: 15px;
    height: 50%;
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 2; /* Capa superior */
    text-align: center;
}

.business-card .back .info {
    position: absolute;
    top: 50%; /* Mueve .info hacia abajo */
    left: 0;
    width: 100%;
    z-index: 1; /* Capa inferior */
}

.business-card .back .image{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #000000;
    color: #ffffff;
    align-items: center;
}

.business-card .back .image img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border: 5px solid #ffffff;
    border-radius: 50%;
    padding: 4px;
    margin-bottom: 16px;
}

.business-card .back .image h1{
    font-size: 21px;
    font-weight: 600;
    margin-block: 8px;
    color: #fff;
}

.business-card .back .image h2{
    font-size: 16px;
    font-weight: 500;
}

.business-card .back .info{
    align-items: flex-start;
    color: #000000;
    font-size: 15px;
}

.business-card .back .info .contacto{
    line-height: 50px;
    margin-block: 8px;

}

.business-card .back .info .contacto i{
    font-size: 18px;
    margin-right: 16px;
}